.iphone1426Child,
.iphone1426Item {
  position: absolute;
  top: 0;
  left: 0;
  width: 682.51px;
  height: 844px;
}
.iphone1426Item {
  top: 411px;
  left: 41px;
  border-radius: var(--br-xl);
  background-color: var(--color-limegreen);
  width: 307px;
  height: 47px;
}
.vectorIcon {
  position: absolute;
  height: 12.68%;
  width: 51.28%;
  top: 30.57%;
  right: 22.56%;
  bottom: 56.75%;
  left: 26.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iphone1426Inner,
.rectangleDiv {
  position: absolute;
  top: 474px;
  left: 41px;
  border-radius: var(--br-xl);
  background-color: var(--color-limegreen);
  width: 307px;
  height: 47px;
}
.rectangleDiv {
  top: 537px;
  background-color: var(--color-darkslategray-300);
}
.email,
.login,
.senha {
  position: absolute;
  top: 427px;
  left: 57px;
  font-weight: 500;
  color: var(--color-gray-500);
}
.login,
.senha {
  top: 490px;
}
.login {
  top: 548px;
  left: 165px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.criarConta {
  position: absolute;
  top: 600px;
  left: 279px;
  font-weight: 500;
}
.groupChild,
.lembreMe {
  position: absolute;
  top: 0;
}
.lembreMe {
  left: 34px;
  font-weight: 500;
}
.groupChild {
  left: 0;
  background-color: var(--color-gainsboro);
  border: 2px solid var(--labels-primary-dark);
  box-sizing: border-box;
  width: 18px;
  height: 17px;
}
.lembreMeParent,
.ou {
  position: absolute;
  top: 600px;
  left: 41px;
  width: 107px;
  height: 17px;
}
.ou {
  top: 0;
  left: 144.47px;
  font-weight: 500;
  display: inline-block;
  width: 18.06px;
  height: 16.93px;
}
.groupInner,
.groupItem {
  position: absolute;
  top: 8.03px;
  left: -1px;
  border-top: 2px solid var(--color-darkslategray-300);
  box-sizing: border-box;
  width: 128.41px;
  height: 2px;
}
.groupInner {
  left: 179.59px;
}
.groupIcon,
.ouParent {
  position: absolute;
  top: 628.03px;
  left: 41px;
  width: 307px;
  height: 16.93px;
}
.groupIcon {
  top: 661px;
  left: 113px;
  width: 164px;
  height: 39px;
}
.aoClicarEm,
.permitirQueMy {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.aoClicarEm {
  font-size: var(--font-size-smi);
  line-height: 18px;
}
.frame1 {
  align-self: stretch;
  display: none;
}
.titleAndDescription {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px 15px;
  box-sizing: border-box;
  gap: var(--gap-11xs);
}
.title {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 45px);
  letter-spacing: -0.4px;
  line-height: 22px;
}
.button1Preferred {
  align-self: stretch;
  position: relative;
  border-top: 0.3px solid var(--separators-non-opaque-dark);
  box-sizing: border-box;
  height: 44px;
}
.title1 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 29px);
  letter-spacing: -0.4px;
  line-height: 22px;
}
.buttons,
.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons {
  width: 270px;
  justify-content: flex-start;
  color: var(--colors-blue-dark);
}
.frame {
  position: absolute;
  top: calc(50% - 94px);
  left: calc(50% - 135px);
  border-radius: var(--br-sm);
  background: linear-gradient(#8c8c8c, #8c8c8c), rgba(37, 37, 37, 0.82);
  backdrop-filter: blur(80px);
  justify-content: center;
  padding: var(--padding-lgi) 0 0;
  gap: var(--gap-11xs);
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mid);
  font-family: var(--font-helvetica);
}
.iphone1426 {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--caption1-regular-size);
  color: var(--labels-primary-dark);
  font-family: var(--font-montserrat);
}
